{% load i18n %}
{% load bootstrap %}
{% load static %}

<!-- structure list -->

<h3>
    {% translate 'Upwell Structures' %}
    {% include "structures/partials/structures/active_tags.html" %}
</h3>

<div class="table-responsive">

    <!-- Structure table -->
    <table id="tab_structures" style="width: 100%" class="table table-striped table-compact structures-table">
        <thead>
            <tr>
                <th>
                    {% translate "Owner" %}<br>
                    {% translate "Alliance" %}
                </th>
                <th>
                    {% translate "Location" %}<br>
                    {% translate "Region" %}
                </th>
                <th>
                    {% translate "Type" %}<br>
                    {% translate "Group" %}
                </th>
                <th>
                    {% translate "Name" %}<br>
                    {% translate "Tags" %}
                </th>
                <th>
                    {% translate "Fuel Expires" %}<br>
                    {% translate "Last Online" %}
                </th>
                <th>
                    {% translate "State" %}<br>
                    {% translate "Core" %}
                </th>
                <th></th>
            </tr>
        </thead>
    </table>

    <p class="text-muted">
        {% translate "Reinforced structures are highlighted in red" %}
    </p>
</div>
